@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px;
  padding: 0px 10%;
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform 0.3s ease;
  contain: size layout style;
  font-family: "Poppins", sans-serif;
}
.leftNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftNav div {
  margin: 5px 10px;
}
.logoDiv {
  height: 49px;
  width: 34px;
  cursor: pointer;
}
.logoDiv img {
  width: 100%;
  height: 100%;
}
.NavTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavTitle span:nth-child(1) {
  font-weight: 600;
  font-style: bold;
  font-size: 17px;
  opacity: 0.8;
  text-decoration: underline;
  margin-right: 3px;
}
.NavTitle span:nth-child(2) {
  font-size: 15px;
  font-weight: 500;
  opacity: 0.9;
  margin-left: 5px;
}
.NavTitle :nth-child(3) {
  color: #fc8019;
  font-weight: 700;
  width: 25px;
  height: 20px;
}
.RighNav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}
.RighNav div {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 20px;
  font-size: 18px;
  font-weight: 500;
}
.RighNav div span {
  margin: 5px;
}
.RighNav div :nth-child(1) {
  font-size: 25px;
}
.NavOffers span:nth-child(2) {
  position: relative;
  width: 20px;
}
.NavOffers span:nth-child(3) {
  position: relative;
  bottom: 13px;
  right: -5px;
  font-size: 13px;
  color: #fc8019;
  font-weight: 600;
  font-style: bold;
}
/* Media Query For Mobiles  */
@media only screen and (max-width: 480px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px;
    padding: 0px 0%;
    height: 50px;
    width: 100%;
  }
  .Navbar div {
    margin: 0px 5px;
  }
  .leftNav div {
    margin: 0px 0px;
  }
  .logoDiv {
    height: 18px;
    width: 15px;
  }
  .NavTitle span:nth-child(1) {
    font-size: 5px;
    margin-right: 0px;
    margin-left: 3px;
  }
  .NavTitle span:nth-child(2) {
    font-size: 4px;
    margin-left: 3px;
  }
  .NavTitle :nth-child(3) {
    width: 10px;
  }
  .RighNav {
    margin: 0px 0px;
  }
  .RighNav div {
    margin: 0px 0px;
    font-size: 7px;
  }
  .RighNav div {
    margin: 3px;
  }
  .RighNav div :nth-child(1) {
    font-size: 8px;
  }
  .NavOffers span:nth-child(2) {
    position: relative;
    width: 0px;
  }
  .NavOffers span:nth-child(3) {
    right: -5px;
    font-size: 3px;
    bottom: 5px;
    left: 3px;
  }
}

/* Media Query For Low Resolution Tablets,Ipads  */
@media (min-width: 481px) and (max-width: 767px) {
  .Navbar {
    margin: 0px 0px;
    padding: 3px 0%;
    height: 50px;
    width: 100%;
  }
  .Navbar div {
    margin: 0px 5px;
  }
  .leftNav div {
    margin: 0px 5px;
  }
  .logoDiv {
    height: 25px;
    width: 20px;
  }
  .NavTitle span:nth-child(1) {
    font-size: 10px;
    margin-right: 0px;
    margin-left: 3px;
  }
  .NavTitle span:nth-child(2) {
    font-size: 6px;
    margin-left: 3px;
  }
  .NavTitle :nth-child(3) {
    width: 13px;
  }
  .RighNav {
    margin: 0px 0px;
  }
  .RighNav div {
    margin: 0px 6px;
    font-size: 10px;
  }
  .RighNav div span {
    margin: 5px;
  }
  .RighNav div :nth-child(1) {
    font-size: 15px;
  }
  .NavOffers span:nth-child(2) {
    position: relative;
    width: 0px;
  }
  .NavOffers span:nth-child(3) {
    right: 5px;
    font-size: 6px;
    bottom: 7px;
    left: 12px;
  }
}

/* Media Query For Tablets Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .Navbar {
    margin: 0px 0px;
    padding: 3px 8px;
    height: 50px;
    width: 100%;
  }
  .Navbar div {
    margin: 0px 15px;
  }
  .leftNav div {
    margin: 0px 5px;
  }
  .logoDiv {
    height: 50px;
    width: 25px;
  }
  .NavTitle span:nth-child(1) {
    font-size: 15px;
    margin-right: 0px;
    margin-left: 3px;
  }
  .NavTitle span:nth-child(2) {
    font-size: 13px;
    margin-left: 8px;
  }
  .NavTitle :nth-child(3) {
    width: 18px;
  }
  .RighNav {
    margin: 0px 0px;
  }
  .RighNav div {
    margin: 0px 6px;
    font-size: 15px;
  }
  .RighNav div span {
    margin: 5px;
  }
  .NavHelp :nth-child(1) {
    margin-left: 12px;
  }
  .RighNav div :nth-child(1) {
    font-size: 15px;
  }
  .NavOffers span:nth-child(3) {
    right: 5px;
    font-size: 10px;
    bottom: 12px;
    left: 15px;
  }
}

.Body {
  position: relative;
  top: 100px;
}
.CarausalDiv {
  width: 75%;
  margin: auto;
  padding: 10px;
}
.carausalTitleDiv {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  align-items: center;
}
.carausalBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carausalBtns svg {
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid lightgray;
  margin: 0px 5px;
  cursor: pointer;
}
.CarausalDiv h2 {
  margin: 5px 20px;
  font-size: 25px;
  font-weight: 600;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.carausalMapDiv {
  display: flex;
  overflow: scroll;
}
.carausalMapDiv::-webkit-scrollbar {
  display: none;
}
.CarausalImgDiv {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}
.CarausalImgDiv img {
  width: 450px;
}
/* Media Query For Mobiles  */
@media only screen and (max-width: 480px) {
  .Body {
    top: 70px;
  }
  .CarausalDiv {
    width: 90%;
    margin: auto;
    padding: 0px;
  }
  .CarausalDiv h2 {
    font-size: 25px;
    padding-left: 10px;
  }
  .carausalTitleDiv {
    margin: 0px 0px;
  }
  .carausalBtns svg {
    font-size: 8px;
  }
  .CarausalDiv h2 {
    margin: 0px 0px;
    font-size: 10px;
  }
  .CarausalImgDiv {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
  .CarausalImgDiv img {
    width: 100px;
  }
}

/* Media Query For Low Resolution Tablets,Ipads  */
@media (min-width: 481px) and (max-width: 767px) {
  .Body {
    top: 70px;
  }
  .CarausalDiv {
    width: 90%;
    margin: auto;
    padding: 0px;
  }
  .carausalTitleDiv {
    margin: 0px 0px;
  }
  .carausalBtns svg {
    font-size: 8px;
  }
  .CarausalDiv h2 {
    margin: 0px 0px;
    font-size: 10px;
  }
  .CarausalImgDiv {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
  .CarausalImgDiv img {
    width: 100px;
  }
}

/* Media Query For Tablets Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .Body {
    top: 70px;
  }
  .CarausalDiv {
    width: 90%;
    margin: auto;
    padding: 0px;
  }
  .carausalTitleDiv {
    margin: 5px 15px;
  }
  .carausalBtns svg {
    font-size: 12px;
  }
  .CarausalDiv h2 {
    margin: 0px 0px;
    font-size: 15px;
  }
  .CarausalImgDiv img {
    width: 250px;
  }
}

.WhatsOnMindDiv {
  width: 75%;
  margin: auto;
  padding: 10px;
}
.WhatOnMindTitleDiv {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
  align-items: center;
}
.WhatOnMindTitleDiv h2 {
  margin: 5px 20px;
  font-size: 25px;
  font-weight: 600;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.WhatOnMindBtn svg {
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid lightgray;
  margin: 0px 5px;
  cursor: pointer;
}
.WhatOnMindBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.WhatOnMindMap {
  display: flex;
  overflow: scroll;
}
.WhatOnMindMap::-webkit-scrollbar {
  display: none;
}
.WhatOnMindMap {
  margin: 10px;
}
.WhatOnMindImg img {
  width: 144px;
  height: 180px;
  margin: 10px 9px;
  cursor: pointer;
}

/* Media Query For Mobiles  */
@media only screen and (max-width: 480px) {
  .WhatsOnMindDiv {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
  }
  .WhatOnMindTitleDiv {
    margin: 5px 0px;
    align-items: center;
  }
  .WhatOnMindTitleDiv h2 {
    margin: 0px 5px;
    padding-left: 12px;
    font-size: 10px;
  }
  .WhatOnMindBtn svg {
    font-size: 8px;
    border-radius: 50%;
    padding: 5px;
  }
  .WhatOnMindMap {
    margin: 5px 5px;
  }
  .WhatOnMindImg img {
    width: 70px;
    height: 70px;
    margin: 5px 5px;
  }
}

/* Media Query For Low Resolution Tablets,Ipads  */
@media (min-width: 481px) and (max-width: 767px) {
  .WhatsOnMindDiv {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }
  .WhatOnMindTitleDiv {
    margin: 5px 10px;
    align-items: center;
  }
  .WhatOnMindTitleDiv h2 {
    margin: 0px 0px;
    font-size: 12px;
  }
  .WhatOnMindBtn svg {
    font-size: 12px;
    padding: 5px;
    margin: 0px 5px;
  }
  .WhatOnMindMap {
    margin: 10px;
  }
  .WhatOnMindImg img {
    width: 50px;
    height: 50px;
    margin: 10px 9px;
  }
}
/* Media Query For Tablets Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .WhatsOnMindDiv {
    width: 90%;
  }
  .WhatOnMindTitleDiv {
    margin: 5px 10px;
  }
  .WhatOnMindTitleDiv h2 {
    margin: 5px 20px;
    font-size: 15px;
  }
  .WhatOnMindBtn svg {
    font-size: 15px;
  }
  .WhatOnMindImg img {
    width: 80px;
    height: 80px;
  }
}
.hr {
  /* height: 1px; */
  width: 70%;
  border: 1px solid lightgray;
  margin: auto;
}

.TopRestroDiv {
  width: 75%;
  margin: 20px auto;
  padding: 10px;
}
.TopRestroTitleDiv {
  display: flex;
  justify-content: space-between;
  margin: 5px 3px;
  align-items: center;
}
.TopRestroBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.TopRestroBtn svg {
  font-size: 25px;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid lightgray;
  margin: 0px 5px;
  cursor: pointer;
}

.TopRestroTitleDiv h2 {
  margin: 5px 10px;
  font-size: 25px;
  font-weight: 600;
  font-style: bold;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.TopRestroMap {
  display: flex;
  overflow: scroll;
}
.TopRestroMap::-webkit-scrollbar {
  display: none;
}
.ProductCard {
  margin: 10px;
  cursor: pointer;
  width: 260px;
  padding: 5px;
}
.ProductCard:hover {
  transform: scale(0.95);
}
.ProductImgDiv {
  width: 100%;
}
.ProductImgDiv img {
  width: 260px;
  height: 200px;
  border-radius: 4%;
}
.productDetailsDiv {
  width: 100%;
  margin-top: 5px;
  height: 150px;
}
.productDetailsDiv div {
  overflow-wrap: break-word;
  padding: 3px;
  font-weight: 600;
  font-size: 18px;
}
.productDetailsDiv div:nth-child(3) {
  font-size: 15px;
  opacity: 0.8;
}
.productDetailsDiv div:nth-child(4) {
  font-size: 15px;
  opacity: 0.8;
}
.ratings {
  display: flex;
  align-items: center;
}
.ratings :nth-child(1) {
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 3px;
  background-color: rgb(30, 135, 30);
  color: white;
  margin-right: 5px;
}

/* Media Query For Mobiles  */
@media only screen and (max-width: 480px) {
  .hr {
    width: 70%;
    border: 1px solid lightgray;
    margin: auto;
  }

  .TopRestroDiv {
    margin: 20px auto;
    padding: 10px;
    width: 90%;
  }
  .TopRestroTitleDiv {
    margin: 0px 0px;
  }
  .TopRestroBtn svg {
    font-size: 10px;
  }

  .TopRestroTitleDiv h2 {
    margin: 0px 0px;
    font-size: 10px;
    padding-left: 15px;
  }

  .ProductCard {
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
  }
  .ProductCard:hover {
    transform: scale(0.95);
  }
  .ProductImgDiv {
    width: 120px;
  }
  .ProductImgDiv img {
    width: 120px;
    height: 80px;
    border-radius: 4%;
  }
  .productDetailsDiv {
    width: 100%;
    margin-top: 5px;
    height: 90px;
  }
  .productDetailsDiv div {
    overflow-wrap: break-word;
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
  }
  .productDetailsDiv div:nth-child(3) {
    font-size: 7px;
    opacity: 0.8;
  }
  .productDetailsDiv div:nth-child(4) {
    font-size: 7px;
    opacity: 0.8;
  }
  .ratings :nth-child(1) {
    font-size: 6px;
  }
}
/* Media Query For Low Resolution Tablets,Ipads  */
@media (min-width: 481px) and (max-width: 767px) {
  .hr {
    width: 70%;
    border: 1px solid lightgray;
    margin: auto;
  }

  .TopRestroDiv {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .TopRestroBtn svg {
    font-size: 10px;
    margin: 0px 0px;
  }

  .TopRestroTitleDiv h2 {
    margin: 5px 0px;
    font-size: 15px;
  }
  .ProductCard {
    margin: 10px;
    width: 150px;
    padding: 5px;
  }
  .ProductImgDiv img {
    width: 150px;
    height: 100px;
    border-radius: 4%;
  }
  .productDetailsDiv {
    width: 100%;
    margin-top: 5px;
    height: 150px;
  }
  .productDetailsDiv div {
    overflow-wrap: break-word;
    padding: 3px;
    font-weight: 600;
    font-size: 13px;
  }
  .productDetailsDiv div:nth-child(3) {
    font-size: 15px;
    opacity: 0.8;
  }
  .productDetailsDiv div:nth-child(4) {
    font-size: 15px;
    opacity: 0.8;
  }
  .ratings :nth-child(1) {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(30, 135, 30);
    color: white;
    margin-right: 5px;
  }
}
/* Media Query For Tablets Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .hr {
    width: 70%;
    border: 1px solid lightgray;
    margin: auto;
  }

  .TopRestroDiv {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .TopRestroBtn svg {
    font-size: 15px;
    margin: 0px 5px;
  }

  .TopRestroTitleDiv h2 {
    margin: 5px 0px;
    font-size: 15px;
  }
  .ProductCard {
    margin: 10px;
    width: 200px;
    padding: 5px;
  }
  .ProductImgDiv img {
    width: 200px;
    height: 130px;
    border-radius: 4%;
  }
  .productDetailsDiv {
    width: 100%;
    margin-top: 5px;
    height: 150px;
  }
  .productDetailsDiv div {
    overflow-wrap: break-word;
    padding: 3px;
    font-weight: 600;
    font-size: 13px;
  }
  .productDetailsDiv div:nth-child(3) {
    font-size: 15px;
    opacity: 0.8;
  }
  .productDetailsDiv div:nth-child(4) {
    font-size: 15px;
    opacity: 0.8;
  }
  .ratings :nth-child(1) {
    border: 1px solid lightgray;
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(30, 135, 30);
    color: white;
    margin-right: 5px;
  }
}
.OnlineRestroFilterDiv {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.OnlineRestroFilterDiv span {
  border: 1px solid lightgray;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
.OnlineRestro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.OnlineRestro .ProductCard {
  width: 250px;
}
/* Media Query For Mobiles  */
@media only screen and (max-width: 480px) {
  .OnlineRestroFilterDiv {
    margin: 10px 10px;
  }
  .OnlineRestroFilterDiv span {
    border-radius: 3px;
    padding: 3px;
    font-size: 5px;
  }
  .OnlineRestro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  .OnlineRestro .ProductCard {
    width: 120px;
    margin: 10px auto;
  }
  .OnlineRestro .productDetailsDiv {
    width: 100%;
  }
}
/* Media Query For Low Resolution Tablets,Ipads  */
@media (min-width: 481px) and (max-width: 767px) {
  .OnlineRestroFilterDiv {
    margin: 10px 10px;
  }
  .OnlineRestroFilterDiv span {
    border-radius: 3px;
    padding: 3px;
    font-size: 5px;
  }
  .OnlineRestro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10px;
  }
  .OnlineRestro .ProductCard {
    width: 200px;
    margin: auto auto;
  }
  .OnlineRestro .ProductCard img {
    width: 180px;
  }
  .OnlineRestro .productDetailsDiv {
    width: 100%;
  }
}

/* Media Query For Tablets Ipads  */
@media (min-width: 768px) and (max-width: 1024px) {
  .OnlineRestroFilterDiv {
    margin: 10px 15px;
  }
  .OnlineRestroFilterDiv span {
    border-radius: 8px;
    padding: 5px;
    font-size: 12px;
    margin: 5px;
    text-align: center;
  }
  .OnlineRestro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
  }
  .OnlineRestro .ProductCard {
    width: 200px;
    margin: auto auto;
  }
  .OnlineRestro .ProductCard img {
    width: 180px;
  }
  .OnlineRestro .ProductCard .ProductImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .OnlineRestro .productDetailsDiv {
    width: 100%;
  }
}
.ShowMore{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 15px;
  position: relative;
  bottom: 80px;
}
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}